<div class="container w-50 fs-5">
    <%= form_with url: signup_path do |f| %>
        <%= f.label :user_name, 'User Name' %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit 'Register', class: 'btn btn-primary mt-3' %>
    <% end %>
</div>
